// Place all the styles related to the amafrica controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "devicons";

.amafrica-container {
  width: 75%;
  height: 450px;
  padding-top: 30vh;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.amafrica-items {
  position: relative;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-logo {
  // width: auto;
  height: 250px;
  margin: auto;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
}

.logo {
  width: 100%;
  margin: auto;
  text-decoration: none;
  display: inline-block;
}

.andrea-text {
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 2px;
  padding-top: 10px;
  color: #CEC8CA;
  text-align: center;
}

.andrea-title {
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
  padding-top: 3px;
  color: #CEC8CA;
  text-align: center;
}

h1 {
  width: 100%;
  display: inline-block;
  color: #CEC8CA;
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  padding: 10px;
}

h2 {
  width: 100%;
  display: inline-block;
  color: #CEC8CA;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  padding: 10px;
}

.skills-container {
  margin-top: 820px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}

.training-icon-container {
 width: 100%;
 position: relative;
 display: flex;
 flex-direction: row;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 margin-top: 40px;
}

.skill-icon, .training-icon {
  width: 100px;
  height: 130px;
  font-size: 60px;
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.swift-training-icon {
  font-family: "devicons";
  text-align: center;
}

.swift-training-icon:before {
  content: "\e655";
}

.skill-title, .training-title {
  color: #CEC8CA;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.about-container {
  margin-top: 200px;
}

.about-contents {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.about-text {
  margin: auto;
  width: 65%;
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #363032;
}

.portfolio-container {
  margin: auto;
  margin-top: 200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.contact-container {
  width: 100%;
  margin-top: 200px;
  background-color: #363032;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 25px;
}

#contact-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

form.email_form_actual{
  width: 100%;
  margin: auto;
}

input#email_first_name, input#email_last_name {
  margin: auto;
  margin-bottom: 2px;
  height: 25px;
  border: 2px solid #CEC8CA;
}

input#email_email_address {
  margin: auto;
  margin-bottom: 2px;
  width: 100%;
  height: 25px;
  border: 2px solid #CEC8CA;
}

textarea#email_text_area {
  margin: auto;
  margin-bottom: 2px;
  width: 100%;
  height: 100px;
  border: 2px solid #CEC8CA;
}
