<div class="amafrica-container">
  <div class="amafrica-items">
    <a href="/" class="logo">
      <img src="./assets/Andrea_Africa_Logo_alt-colour_Solo.png" class="nav-logo">
    </a>
    <span class="andrea-text">Andrea Africa</span>
    <span class="andrea-title">Full Stack Web Developer</span>
  </div>
</div>

<a id="skills-link-target"></a>
<div class="skills-container">
  <h1>Skills</h1>
  <div class="icon-container">
    <div class="skill-icon">
      <i class="devicon-html5-plain"></i>
      <span class="skill-title">HTML</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-css3-plain"></i>
      <span class="skill-title">CSS</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-sass-original"></i>
      <span class="skill-title">Sass</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-javascript-plain"></i>
      <span class="skill-title">JavaScript</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-jquery-plain"></i>
      <span class="skill-title">jQuery</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-ruby-plain"></i>
      <span class="skill-title">Ruby</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-rails-plain"></i>
      <span class="skill-title">Ruby on Rails</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-git-plain"></i>
      <span class="skill-title">Git</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-github-plain"></i>
      <span class="skill-title">Github</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-gitlab-plain"></i>
      <span class="skill-title">Gitlab</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-mysql-plain"></i>
      <span class="skill-title">SQLite</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-postgresql-plain"></i>
      <span class="skill-title">PostgreSQL</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-heroku-plain"></i>
      <span class="skill-title">Heroku</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-photoshop-plain"></i>
      <span class="skill-title">Photoshop</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-illustrator-plain"></i>
      <span class="skill-title">Illustrator</span>
    </div>
  </div>
  <div class="training-icon-container">
    <h2>Training</h2>
    <div class="training-icon">
      <i class="devicon-react-original"></i>
      <span class="training-title">React | React Native</span>
    </div>
    <div class="training-icon">
      <i class="swift-training-icon"></i>
      <span class="training-title">Swift</span>
    </div>
  </div>
</div>

<a id="about-link-target"></a>
<div class="about-container">
  <h1>About</h1>
  <div class="about-contents">
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
</div>

<a id="portfolio-link-target"></a>
<div class="portfolio-container">
  <h1>Portfolio</h1>
  <div class="portfolio-contents">

  </div>
</div>

<a id="contact-link-target"></a>
<div class="contact-container">
  <h1 id="contact-title">Contact Me</h1>
  <div class="contact-items">
    <%= render "/amafrica/form" %>
  </div>
</div>
