<div class="amafrica-container">
  <a href="/" class="logo">
    <img src="./assets/Andrea_Africa_Logo_alt-colour_Solo.png" class="nav-logo">
  </a>
  <div class="amafrica-items">
    <span class="andrea-text">Andrea Africa</span>
    <span class="andrea-title">Full Stack Web Developer</span>
  </div>
</div>

<a id="skills-link-target"></a>
<div class="skills-container">
  <h1>Skills</h1>
  <div class="icon-container">
    <div class="skill-icon">
      <i class="devicon-html5-plain"></i>
      <span class="skill-title">HTML</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-css3-plain"></i>
      <span class="skill-title">CSS</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-sass-original"></i>
      <span class="skill-title">Sass</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-javascript-plain"></i>
      <span class="skill-title">JavaScript</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-jquery-plain"></i>
      <span class="skill-title">jQuery</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-ruby-plain"></i>
      <span class="skill-title">Ruby</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-rails-plain"></i>
      <span class="skill-title">Ruby on Rails</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-wordpress-plain"></i>
      <span class="skill-title">Wordpress</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-git-plain"></i>
      <span class="skill-title">Git</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-github-plain"></i>
      <span class="skill-title">Github</span>
    </div>
    <!-- <div class="skill-icon">
      <i class="devicon-gitlab-plain"></i>
      <span class="skill-title">Gitlab</span>
    </div> -->
    <div class="skill-icon">
      <i class="devicon-mysql-plain"></i>
      <span class="skill-title">SQLite</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-postgresql-plain"></i>
      <span class="skill-title">PostgreSQL</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-heroku-plain"></i>
      <span class="skill-title">Heroku</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-photoshop-plain"></i>
      <span class="skill-title">Photoshop</span>
    </div>
    <div class="skill-icon">
      <i class="devicon-illustrator-plain"></i>
      <span class="skill-title">Illustrator</span>
    </div>
  </div>
  <div class="training-icon-container">
    <h2>Training</h2>
    <div class="training-icon">
      <i class="devicon-react-original"></i>
      <span class="training-title">React | React Native</span>
    </div>
    <div class="training-icon">
      <i class="swift-training-icon"></i>
      <span class="training-title">Swift</span>
    </div>
  </div>
</div>

<a id="about-link-target"></a>
<div class="about-container">
  <h1>About</h1>
  <div class="about-contents">
    <span class="about-text">
    <p class="text-column">
      I’m a recent graduate of the RTA School of Media at Ryerson University, where I specialized in post-production and gained a lot of experience as an editor. My inherent interest in the deconstruction of media and technology propelled me to pursue a career in tech.
    </p>
    <p class=text-column>
      Attention to detail, a strong understanding for user experience and dedication to creating user-friendly applications are skills that make me a valuable asset as a Web Developer.
    </p>
    <p class="about-skills">
    <strong>Specialties: HTML / CSS / Sass / Javascript / jQuery / Ruby / Rails / Git</strong>
    </p>
    </span>
  </div>
</div>

<a id="portfolio-link-target"></a>
<div class="portfolio-container">
  <h1>Portfolio</h1>
  <div class="portfolio-contents">

  </div>
</div>

<a id="contact-link-target"></a>
<div class="contact-container">
  <h1 id="contact-title">Contact Me</h1>
  <div class="contact-items">
    <%= render "/amafrica/form" %>
  </div>
</div>
